<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Google Maps JavaScript API Example: Simple Events</title>


    <script src="//maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyCITH6tAU5x0WRl_ugbVI--1HphdZdZcHo"
            type="text/javascript"></script>
    <%= javascript_include_tag "map3.js" %>
    
  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 750px; height: 750px"></div>
    <div id="message"></div>
  </body>
</html>